@model List<DateTime>
@{
    ViewData["Title"] = "Select a Day";
    int doctorId = ViewBag.DoctorId;
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Select a Day</h2>
    <ul class="list-group list-group-flush">
        @foreach (var day in Model)
        {
            <li class="list-group-item text-center">
                <a href="@Url.Action("SelectTimeSlots", "Reservation", new { doctorId = doctorId, selectedDate = day })" class="text-decoration-none text-dark">
                    <strong>@day.ToString("dddd, MMMM dd, yyyy")</strong>
                </a>
            </li>
        }
    </ul>
</div>